<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - salabelleza</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <meta name="generator" content="Hugo 0.88.1">
    <title>Saladebelleza · Bootstrap v5.1</title>
    <link rel="stylesheet" href="~/css/carousel.css" />
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/carousel-rtl/">


    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.rtl.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

    </style>
    <!-- Custom styles for this template -->
    <link href="../carousel/carousel.rtl.css" rel="stylesheet">

</head>
<body>


    <main>

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4">
                    <img src="~/Imagenes/Cortedecabello.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Descripción de la imagen">

                    <h2>Corte de cabello para Dama</h2>
                    <p> "Renueva tu imagen este 2025 con un corte de cabello que realce tu belleza natural. Nuestra estilista profesional está aquí para ayudarte a encontrar el look perfecto."</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img src="~/Imagenes/Delineado.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Descripción de la imagen">

                    <h2>Maquillaje profesional para Dama</h2>
                    <p>"Resalta tus facciones con un maquillaje hecho a la medida para cada ocasión especial. Ya sea para eventos formales o casuales, nuestras artistas de maquillaje profesional crearán tu look."</p>

                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img src="~/Imagenes/Spa.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Descripción de la imagen">

                    <h2>Spa masaje para Damas y caballeros</h2>
                    <p> "Disfruta de un momento de relajación y bienestar con nuestros masajes especializados para damas y caballeros. Nuestro equipo de terapeutas altamente capacitados."</p>

                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
            <!-- START THE FEATURETTES -->
            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Haz tu reservacion<span class="text-muted"></span></h2>
                    <p class="lead">
                      Somos personas capacitadas para realizar un buen trabajo.
                    </p>
                    <div style="display: flex; gap: 10px;">
                        <a href="/Citas/Create" class="btn" style="background-color: blue; color: white;">Agendar Citas</a>
                        <a href="/Catalogo/Index" class="btn" style="background-color: blue; color: white;">Ver Catálogo</a>
                    </div>

                </div>
                <div class="col-md-5">
                    <img src="~/Imagenes/nossssee.webp" width="400" height="400" alt="Descripción de la imagen">

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Quienes somos.<span class="text-muted"></span></h2>
                    <p class="lead"> Somos un grupo de profesionales, altamente capacitados para ofrecerles el mejor servicio de peluquería y spa.Un lugar mágico donde optienes la atención, asesoría y calidad que garantizan nuestros expertos en corte y color, manicura y pedicura, maquillaje, peinados y tratamientos de belleza.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="~/Imagenes/elegante.jpeg" width="400" height="400" alt="Descripción de la imagen">

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">MISION.<span class="text-muted"></span></h2>
                    <p class="lead">Satifacer las necesidades de belleza de nuestro clientes mediante servicios de la mejor calidad mediante servicios de la mejor calidad,brindado por nuestro personal altamente Calificado que inspira confianza y seriedad,Permitiendome superar las expectativas de nuestro clientes.</p>
                </div>
                <div class="col-md-5">
                    <img src="~/Imagenes/secado.jpeg" width="300" height="400" alt="Descripción de la imagen">

                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">VISION.<span class="text-muted"></span></h2>
                    <p class="lead">Convertirnos en una cadena de salones caracterizados por brindar un excelente servicio personalizado en un ambiente calido y acogedor.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="~/Imagenes/lavado.jpeg" width="400" height="400" alt="Descripción de la imagen">

                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->
        <!-- FOOTER -->

    </main>

    <footer class="footer">
        <div class="footer-content">
          <h1 style="font-family: 'Playfair Display', serif; font-weight: bold; color: #000; font-size: 3em; text-align: center;">BEAUTY SALON</h1>
            <p>El estilo de tu belleza desde 2024</p>
            <p>📍 Dirección:Izalco, #123, Sonsonate, El Salvador</p>
            <p>📞 Teléfono: 7630-8849 &nbsp; | &nbsp; ✉️ Email: beautysalon@gmail.com</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/Beauty_Salon" target="_blank" aria-label="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.tiktok.com/tu_usuario" target="_blank" aria-label="TikTok">
                    <i class="fab fa-tiktok"></i>
                </a>
                <a href="https://www.instagram.com/Beauty_Salon" target="_blank" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://wa.me/61601362" target="_blank" aria-label="WhatsApp">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>

            <a href="#" class="scroll-up"><i class="fas fa-chevron-up"></i></a>
        </div>
        </footer>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>