<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - salabelleza</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <meta name="generator" content="Hugo 0.88.1">
    <title>Saladebelleza · Bootstrap v5.1</title>
    <link rel="stylesheet" href="~/css/carousel.css" />
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/carousel-rtl/">


    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.rtl.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

       
    </style>
    <!-- Custom styles for this template -->
    <link href="../carousel/carousel.rtl.css" rel="stylesheet">
   
</head>
<body>


    <main>

        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Imagenes/uñitas.jpeg" class=d-block w-100" alt="Imagen de spa">
                    <div class="container">
                        <div class="carousel-caption text-start">

                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Imagenes/caroosel.jpg" class="d-block w-100" alt="Imagen de spa">
                    <div class="container">
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Imagenes/brochas.jpg" class="d-block w-100" alt="Imagen de spa">
                    <div class="container">
                        <div class="carousel-caption text-end">

                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4">
                    <img src="~/Imagenes/Cortedecabello.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Descripción de la imagen">

                    <h2>Corte de cabello para Dama</h2>
                    <p> "Renueva tu imagen este 2025 con un corte de cabello que realce tu belleza natural. Nuestra estilista profesional está aquí para ayudarte a encontrar el look perfecto."</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img src="~/Imagenes/Delineado.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Descripción de la imagen">

                    <h2>Maquillaje profesional para Dama</h2>
                    <p>"Resalta tus facciones con un maquillaje hecho a la medida para cada ocasión especial. Ya sea para eventos formales o casuales, nuestras artistas de maquillaje crearán un look."</p>
                   
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img src="~/Imagenes/Spa.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Descripción de la imagen">

                    <h2>Spa masaje de Dama y caballero</h2>
                    <p> "Disfruta de un momento de relajación y bienestar con nuestros masajes especializados para damas y caballeros. Nuestro equipo de terapeutas altamente capacitados."</p>
                  
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Peinado profesional<span class="text-muted"></span></h2>
                    <p class="lead">
                        En Beauty Salon, creamos peinados que se adaptan a tu estilo y personalidad. Ya sea para una ocasión especial o un cambio de look, te ayudamos a lucir espectacular con un toque elegante y sofisticado.
                        Reserva tu cita hoy y deja que nuestro equipo de expertos resalte lo mejor de ti.
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="~/Imagenes/Peiinado.jpeg" width="400" height="500" alt="Descripción de la imagen">

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Transformamos cada visita en una experiencia de lujo.<span class="text-muted"></span></h2>
                    <p class="lead"> Una nueva versión de ti comienza aquí.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="~/Imagenes/ho.jpeg" width="400" height="500" alt="Descripción de la imagen">

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Porque te mereces lo mejor, nosotros te lo ofrecemos.<span class="text-muted"></span></h2>
                    <p class="lead">Tu belleza, nuestra pasión.</p>
                </div>
                <div class="col-md-5">
                    <img src="~/Imagenes/ola.jpeg" width="400" height="500" alt="Descripción de la imagen">

                </div>
            </div>
            <hr class="featurette-divider">
             <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Eres Unica y perfecta.<span class="text-muted"></span></h2>
                    <p class="lead">Sentirte linda es nuestro deber.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="~/Imagenes/Mirada.jpg" width="400" height="400" alt="Descripción de la imagen">

                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->
        <!-- FOOTER -->

    </main>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
