@model BeautySalon.Models.Producto

@{
    ViewData["Title"] = "Edit";
}
<body style="background-color: #FADAD1;">
</body>

<h1 class="text-center">Editar Producto</h1>
<hr />

<div class="container">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
        <input type="hidden" asp-for="Id" />

        <!-- Fila con dos columnas -->
        <div class="row mb-3">
            <div class="col-md-6 form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="col-md-6 form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6 form-group">
                <label asp-for="PrecioUnitario" class="control-label"></label>
                <input asp-for="PrecioUnitario" class="form-control" />
                <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
            </div>

            <div class="col-md-6 form-group">
                <label asp-for="PrecioVenta" class="control-label"></label>
                <input asp-for="PrecioVenta" class="form-control" />
                <span asp-validation-for="PrecioVenta" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6 form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>

            <div class="col-md-6 form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6 form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>

            <div class="col-md-6 form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6 form-group">
                <label asp-for="FechaVencimiento" class="control-label"></label>
                <input asp-for="FechaVencimiento" class="form-control" />
                <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
            </div>

            <div class="col-md-6 form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group text-center mt-4">
            <input type="submit" value="Guardar" class="btn btn-primary me-2" />
            <a asp-action="Index" class="btn btn-success">Atrás</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
