@model BeautySalon.Models.DetalleVenta

@{
    ViewData["Title"] = "Edit";
}
<body style="background-color: #FADAD1;">
</body>

<h1 class="text-center mb-4">Editar Detalle Venta</h1>

<div class="container">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
        <input type="hidden" asp-for="Id" />

        <!-- Grid de filas con dos columnas -->
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Precio" class="control-label"></label>
                    <input asp-for="Precio" class="form-control" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Suma" class="control-label"></label>
                    <input asp-for="Suma" class="form-control" />
                    <span asp-validation-for="Suma" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IdProducto" class="control-label"></label>
                    <select asp-for="IdProducto" class="form-control" asp-items="ViewBag.IdProducto"></select>
                    <span asp-validation-for="IdProducto" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IdVenta" class="control-label"></label>
                    <select asp-for="IdVenta" class="form-control" asp-items="ViewBag.IdVenta"></select>
                    <span asp-validation-for="IdVenta" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Cantidad" class="control-label"></label>
                    <input asp-for="Cantidad" class="form-control" />
                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                </div>
            </div>
        </div>

        <!-- Botones alineados al centro -->
        <div class="text-center mt-4">
            <input type="submit" value="Guardar" class="btn btn-primary me-2" />
            <a asp-action="Index" class="btn btn-success">Atrás</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
