@model IEnumerable<BeautySalon.Models.DetalleVenta>

@{
    ViewData["Title"] = "Detalle de Venta";
}

@if (TempData["ErrorMessage"] != null)
{
    <div id="errorMessage" class="alert alert-danger" role="alert">
        <span style="color: red; font-size: 20px; font-weight: bold;">&times;</span>
        @TempData["ErrorMessage"]
    </div>

    <script>
        setTimeout(function () {
            var messageDiv = document.getElementById("errorMessage");
            if (messageDiv) {
                messageDiv.style.display = "none";
            }
        }, 5000);
    </script>
}

<head>
    <link rel="stylesheet" href="~/css/Crud.css" />
</head>

<h1>Detalle de Venta</h1>

<div class="input-group">
    <label for="terminoBusqueda" class="control-label">Buscar producto:</label>
    <select id="terminoBusqueda" class="form-control" onchange="mostrarProducto()">
        <option value="">Seleccione un producto</option>
        @foreach (var producto in ViewBag.Producto)
        {
            <option value="@producto.Value">@producto.Text</option>
        }
    </select>
</div>

<table id="resultadosBusqueda" class="table">
    <thead>
        <tr>
            <th>Cantidad</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Suma</th>
        </tr>
    </thead>
    <tbody>
        <!-- Aquí se mostrarán los productos seleccionados -->
    </tbody>
</table>

<!-- Totales -->
<div class="totals-container">
    <div>Descuento: <input type="text" name="descuento" value="0" oninput="calculateTotals()" /></div>
    <div>IVA: <input type="text" name="IVA" readonly value="0" /></div>
    <div>Total a Pagar: <input type="text" name="Total" readonly value="0" /></div>
    <button class="btn-add">Procesar</button>
</div>

<script>
    async function mostrarProducto() {
        var idProducto = document.getElementById("terminoBusqueda").value;

        if (idProducto === "") {
            limpiarTabla();
            return;
        }

        const response = await fetch(`/DetalleVenta/BuscarProducto?termino=${idProducto}`);
        const productos = await response.json();

        limpiarTabla();
        var tbody = document.getElementById("resultadosBusqueda").getElementsByTagName("tbody")[0];

        productos.forEach(producto => {
            var row = tbody.insertRow();
            row.insertCell(0).innerText = 1; // Cantidad fija en 1 por ahora
            row.insertCell(1).innerText = producto.Nombre;
            row.insertCell(2).innerText = producto.PrecioUnitario;
            row.insertCell(3).innerText = producto.PrecioUnitario; // Suma inicial basada en precio unitario
        });
    }

    function limpiarTabla() {
        var tbody = document.getElementById("resultadosBusqueda").getElementsByTagName("tbody")[0];
        tbody.innerHTML = "";
    }
</script>
