@model BeautySalon.Models.Appointment

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agendar Cita</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <div class="container">
        <h1>Agendar Cita</h1>
        <form asp-action="Create" method="post">
            <label for="name">Nombre completo:</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>

            <label for="email">Correo Electrónico:</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>

            <label for="service">Servicio:</label>
            <select asp-for="Service" class="form-control">
                <option value="Corte">Corte de cabello</option>
                <option value="Manicure">Manicure</option>
                <option value="Pedicure">Pedicure</option>
                <option value="Depilación">Depilación</option>
                <option value="Peinado">Peinados</option>
                <option value="Maquillaje">Maquillaje</option>
                <option value="Alisado">Alisado Brasileño,Alisado Hialurónico</option>
                <option value="Microblading">Microblading</option>
                <option value="Laminado de cejas">Laminado de cejas</option>
                <!-- Agregar más servicios si es necesario -->
            </select>
            <span asp-validation-for="Service" class="text-danger"></span>

            <label for="appointmentDate">Fecha y Hora:</label>
            <input asp-for="AppointmentDate" class="form-control" type="datetime-local" />
            <span asp-validation-for="AppointmentDate" class="text-danger"></span>

            <button type="submit">Agendar</button>
        </form>
    </div>
</body>
</html>
