@model BeautySalon.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Iniciar Sesión";
    Layout = null;
    <!-- Esto elimina el layout global para centrarnos solo en el login -->
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sala de belleza</title>
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<body>
    <div class="Email-container">
        <div class="Email-box">
            <h2>Iniciar Sesión</h2>
            <form asp-action="Login" method="post">
                <!-- Imagen de logo -->
                <img src="~/Imagenes/logooooo.jpeg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Descripción de la imagen">

                <!-- Campo de login -->
                <div class="form-group">
                 
                    <input type="text" id="login" name="Login" class="form-control" placeholder="Ingresa tu login" required />
                </div>

                <!-- Campo de contraseña -->
                <div class="form-group">
                    <input type="password" id="password" name="Password" class="form-control" placeholder="Ingresa tu contraseña" required />
                </div>

                <!-- Botón de login -->
                <button type="submit" class="btn-login">Iniciar Sesión</button>
            </form>

            <footer>
                <p>Bienvenido a la sala de belleza</p>
            </footer>
        </div>
    </div>
</body>
</html>
