/* Estilo para las cajas de texto */
.form-control {
    background-color: #ffffff; /* Cambia este color al que prefieras */
    border: 1px solid black; /* Borde verde limón */
    color: #333;
    padding: 8px;
    font-size: 14px;
}

    /* Estilo opcional para cuando el campo está enfocado */
    .form-control:focus {
        background-color: #fdeaf2;
        border-color: #228B22;
        outline: none;
    }

/* Botón Crear con color personalizado */
.btn-primary {
    background-color: #000000;
    border-color: #000000;
}

    .btn-primary:hover {
        background-color: #228B22;
        border-color: #228B22;
    }
