/* Footer */
.footer {
    background-color: #D8BFD8; /* Color de fondo */
    color: white;
    text-align: center;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-logo {
    max-width: 200px;
    margin-bottom: 10px;
}

.footer-content p {
    margin: 5px 0;
}

.social-icons {
    margin-top: 10px;
}

    .social-icons a {
        color: white;
        font-size: 20px;
        margin: 0 10px;
        text-decoration: none;
    }

        .social-icons a:hover {
            color: #d4b3ff; /* Cambia el color al pasar el mouse */
        }

.scroll-up {
    display: inline-block;
    margin-top: 15px;
    color: white;
    font-size: 24px;
    text-decoration: none;
}

    .scroll-up:hover {
        color: #d4b3ff;
    }

.footer-bottom-text {
    margin-top: 20px;
    font-size: 14px;
}
