/* Fondo de la página */
body {
    background-image: url('https://img.freepik.com/fotos-premium/salon-belleza-peluqueria-lujo-estilo-color-rosa-concepto-negocio-barberia_861577-1404.jpg'); /* Ruta a la imagen de fondo */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor del formulario de login */
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background: linear-gradient(145deg, #ffd6ff, #f9f0e6); /* Degradado suave */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

    /* Título de inicio de sesión */
    .login-container h2 {
        color: #48CAE4; /* Color dorado suave */
        font-weight: bold;
    }

    /* Estilo de la imagen del logo */
    .login-container img {
        width: 145px;
        margin-bottom: 20px;
        border-radius: 50%;
        border: 2px solid #d4a373; /* Borde dorado */
    }

    /* Etiquetas */
    .login-container label {
        color: #333;
        font-weight: bold;
        display: block;
        text-align: left;
        margin-bottom: 5px;
    }

    /* Campos de entrada */
    .login-container input[type="text"],
    .login-container input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    /* Botón de inicio de sesión */
    .login-container button {
        width: 100%;
        padding: 10px;
        background-color: #49cccc; /* Rosado elegante */
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

        .login-container button:hover {
            background-color: #f7a29e; /* Cambia a dorado suave al pasar el ratón */
        }

    /* Texto de bienvenida */
    .login-container .welcome-text {
        margin-top: 10px;
        color: #d47a73;
        font-size: 14px;
    }
