.navbar-custom {
    background-color: #FF7979; /* Color verde lima */
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-brand,
.navbar-dark .btn-outline-danger,
.navbar-dark .btn-outline-success {
    color: black !important;
}

/* Estilo para el botón del menú "Ver Categorías" */
#categoriasDropdown {
    color: black; /* Cambia el color del texto */
    background-color: #FFA5A5; /* Fondo rosa */
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px 10px; /* Espacio alrededor del texto */
}

    /* Estilo para el menú desplegable */
    #categoriasDropdown + .dropdown-menu {
        background-color: #FF7979; /* Un tono de rosa suave */
        border: none; /* Sin borde */
    }

        #categoriasDropdown + .dropdown-menu .dropdown-item {
            color: #333; /* Color del texto de los ítems */
        }

            #categoriasDropdown + .dropdown-menu .dropdown-item:hover {
                background-color: #ffb6c1; /* Color de fondo al pasar el mouse */
            }
