.navbar-custom {
    background: linear-gradient(to right, #D8BFD8, #D8BFD8);
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-brand,
.navbar-dark .btn-outline-danger,
.navbar-dark .btn-outline-success {
    color: black !important;
}

/* Estilo para el botón del menú "Ver Categorías" */
#categoriasDropdown + .dropdown-menu {
    background: linear-gradient(135deg, #E6E6FA, #E6E6FA);
    border: none;
}


/* Estilo para el menú desplegable */
#categoriasDropdown + .dropdown-menu {
    background-color: #E6E6FA; /* Muy claro y agradable */
    border: none; /* Sin borde */
}

    #categoriasDropdown + .dropdown-menu .dropdown-item {
        color: black; /* Color del texto de los ítems */
    }

        #categoriasDropdown + .dropdown-menu .dropdown-item:hover {
            background-color: #E0F7FA; /* Color de fondo al pasar el mouse */
        }
