@model BeautySalon.Models.Rol

@{
    ViewData["Title"] = "Detalles";
}

<body style="background-color:#FADAD1;">
    <body/>
    <h1>Detalles</h1>

    <div class="detalle">
        <h4>Rol</h4>
        <hr />
        <div class="detalle-item">
            <strong>@Html.DisplayNameFor(model => model.Nombre):</strong>
            @Html.DisplayFor(model => model.Nombre)
        </div>
    </div>

    <!-- Botones -->
    <div class="botones">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning boton-editar">Editar</a>
        <a asp-action="Index" class="btn btn-success boton-atras">Atrás</a>
    </div>
</body>

<style>
    .detalle {
        max-width: 600px;
        margin: auto;
        padding: 20px;
        background-color: #ecf0f1; /* Verde suave claro */
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .detalle-item {
        background-color: #FFFDE7; /* Amarillo suave */
        padding: 10px;
        margin: 10px 0;
        border-radius: 6px;
        border: 1px solid #FBC02D;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }

    .detalle-item strong {
        font-weight: bold;
        color: #333;
    }

    .botones {
        text-align: center;
        margin-top: 15px;
    }

    .boton-editar, .boton-atras {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px 5px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

    .boton-editar {
        background-color: #FF7043; /* Naranja suave para el botón Editar */
    }

    .boton-atras {
        background-color: #66BB6A; /* Verde pastel suave para el botón Atrás */
    }
</style>